<div fxLayout="row" fxLayoutAlign="center center" class="register-container">
    <mat-card class="register-card">
        <mat-card-title class="register-title">Register</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="register()" fxLayout="column" fxLayoutAlign="center stretch">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="username" name="username" required />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [(ngModel)]="password" name="password" required />
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" class="register-button">
          Register
        </button>

                <!-- Back to Login Button -->
                <button mat-button color="accent" type="button" (click)="navigateToLogin()">
          Back to Login
        </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>