.order-details-container {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.order-details-card {
    margin: 10px;
    width: 100%;
}

mat-list-item {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}